.nav-logo{
  height: 95%;
  width: auto;
}
.black-text li a{
  color: black;
}
.carousel-position{
  display: flex;
  justify-content: center;
}
.button-inside{
  height: 60px;
  width: 220px;
  position: relative;
  top: 160px;
  left: 50%;
  margin-left: -110px;
  display: flex;
  justify-content: center;
  background-color: #FFFFFF;
  color: black;
  font-weight: bold;
  opacity: .6;
  border-style: none;
}
.carousel-img-fix{
  margin-top: -210px;
}
.footer{
  position: relative;
  bottom: 0;
  margin-top: 70px;
  width: 100%;
  height: 600px;
  background-color: #232323;
}
.shopping-tools{
  width: 100%;
  height: 150px;
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
}
.shopping-tools-options{
  margin-top: 40px;
  font-weight: 500;
  font-size: 15pt;
}
.shopping-tools-title{
  display: flex;
  justify-content: center;
  margin-top: 150px;
  opacity: .5;
}
.subaru-loves-earth{
  width: 100%;
  height: 475px;
}
.sle-img{
  width:100%;
  height: auto;
  margin-top: 50px;
}
.overlay-box{
    background: #FFFFFF;
    width: 1150px;
    left: 50%;
    top: 685px;
    margin-left: -575px;
    height: 175px;
    position: absolute;
    display: flex;
    justify-content: center;
}
.overlay-img{
  margin-top: -3px;
  height: 110px;
  width: auto;
  display: flex;
  padding-left: 7px;
  padding-right: 7px;
}
.overlay-desc{
  margin-top: 15px;
  color: #628fbc;
  font-weight: 500;
  font-size: 12pt;
}
.overlay-price{
  color: black;
  font-weight: 500;
  font-size: 10pt;
  opacity: .5;
}

/*a.back-to-top {
	display: none;
	width: 60px;
	height: 60px;
	text-indent: -9999px;
	position: fixed;
	z-index: 999;
	right: 20px;
	bottom: 20px;
	background: #27AE61 url("up-arrow.png") no-repeat center 43%;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}*/
