<div id="vehicledp" class="dropdown-content">

</div>

<div class="navbar-fixed" style="position: relative; z-index: 50;">
  <nav>
    <div class="nav-wrapper black-text" style="font-size: 19pt; margin-left: 1%;">
      2017 BRZ
      <div class="right" style="font-weight: 300;">
        <ul>
          <li><a>Overview</a></li>
          <li><a>Gallery</a></li>
          <li><a>Features</a></li>
          <li><a>Accolades</a></li>
          <li><a>Models</a></li>
          <li><a class="dropdown-button white-text" style="background-color: #0099ff; font-size: 14pt;" href="#!" data-activates="dropdown1">Shop BRZ<i class="material-icons right">arrow_drop_down</i></a></li>
        </ul>
      </div>
    </div>
  </nav>
</div>

<div class="vehicle-background" style="background-image: url(/pictures/vehicleView/brz/2017_BRZ_photos_ext_12.jpg">
  <div class="vehicle-title-bg"></div>
  <div class=" vehicle-position">
    <div class="vehicle-title">
      The Newly Redesigned 2017 Subaru BRZ
    </div>
    <div class="vehicle-subtitle">
      For your every action, an immediate reaction.
    </div>
  </div>
  <div>
    <img src="/pictures/vehicleView/brz/brz yellow.png" alt="">
  </div>
  <div class="specs-overlay">
    <button class="specs-button" type="button" name="button">COMPARE MODEL SPECS</button>
    <div class="row">
      <div class="col s3 center-align specs-details white-text">
        <div class="specs-title">
          MPG** up to
        </div>
        <br>
        <div style="font-size: 30pt;">
          {{vehicles[3].mpghwy}}/{{vehicles[3].mpgcity}}
        </div>
        <div class="specs-title">
          <br> Hwy/City
        </div>
      </div>
      <div class="col s3 center-align specs-details white-text">
        <div class="specs-title">
          Standard
        </div>
        <br>
        <div style="font-size: 20pt;">
          {{vehicles[3].standardeq}}
        </div>
      </div>
      <div class="col s3 center-align specs-details white-text">
        <div class="specs-title">
          Passenger volume up to
        </div>
        <br>
        <div style="font-size: 28pt;">
          {{vehicles[3].passengers}}
        </div>
        <div class="specs-title">
          <br> cubic feet
        </div>
      </div>
      <div class="col s3 center-align specs-details white-text">
        <div class="specs-title">
          MSRP*
        </div>
        <br>
        <div style="font-size: 20pt;">
          {{vehicles[3].msrp}}
        </div>
      </div>
    </div>
  </div>
</div>
<div class="spin-title">
  Exterior 360°
  <div style="font-size: 12pt;font-weight: 300;opacity: .7;">
    Click & Drag
  </div>
</div>
<div class="spin-view">
  <div class="spritespinBrz"></div>
</div>
<div class="interior-view">
  <div class="interior-title">
    Interior
  </div>
  <img class="interior-view-img-fix" src="/pictures/vehicleView/brz/BLA.jpg" alt="">
</div>
<div class="spin-title">
  Features
</div>
<div class="features">
  <div class="features-text">
    <div class="features-font">
      Agile Handling
    </div>
    <br>
    <br>
    <div class="features-desc">
      <i class="material-icons left">chevron_right</i> The Ideal Sports Car Layout
      <br>
      <br>
      <i class="material-icons left">chevron_right</i> All-New Performance Package
      <br>
      <br>
      <i class="material-icons left">chevron_right</i> Sport-Tuned Suspension
      <br>
      <br>
      <i class="material-icons left">chevron_right</i> Quick-Ratio Steering and Limited-Slip Differential
    </div>
  </div>
  <div class="features-img">
    <img class="features-img-fix" src="pictures/vehicleView/brz/MY17_BRZ_feature_03.jpg" alt="">
  </div>
</div>
<div class="features">
  <div class="features-img">
    <img class="features-img-fix" src="pictures/vehicleView/brz/MY17_BRZ_feature_05.jpg" alt="">
  </div>
  <div class="features-text">
    <div class="features-font">
      Engineered for Performance
    </div>
    <br>
    <br>
    <div class="features-desc">
      <i class="material-icons left">chevron_right</i> SUBARU BOXER® Engine
      <br>
      <br>
      <i class="material-icons left">chevron_right</i> 6-Speed Manual Transmission
      <br>
      <br>
      <i class="material-icons left">chevron_right</i> Automatic Transmission with Paddle Shifters
      <br>
      <br>
      <i class="material-icons left">chevron_right</i> Low Curb Weight
    </div>
  </div>
</div>
<div class="features">
  <div class="features-text">
    <div class="features-font">
      Styling and Technology
    </div>
    <br>
    <br>
    <div class="features-desc">
      <i class="material-icons left">chevron_right</i> SUBARU STARLINK™ Multimedia
      <br>
      <br>
      <i class="material-icons left">chevron_right</i> Updated Styling
      <br>
      <br>
      <i class="material-icons left">chevron_right</i> Leather-Wrapped Steering Wheel
      <br>
      <br>
      <i class="material-icons left">chevron_right</i> Sport Seating
      <br>
      <br>
      <i class="material-icons left">chevron_right</i> Upgraded Interior Materials
      <br>
      <br>
      <i class="material-icons left">chevron_right</i> Multi-Function Display with Vehicle Performance Information
      <br>
      <br>
      <i class="material-icons left">chevron_right</i> Expert Navigation by Magellan™
      <br>
      <br>
      <i class="material-icons left">chevron_right</i> Keyless Access with Push-Button Start
    </div>
  </div>
  <div class="features-img">
    <img class="features-img-fix" src="pictures/vehicleView/brz/MY17_BRZ_feature_10.jpg" alt="">
  </div>
</div>
