<div id="vehicledp" class="dropdown-content">

</div>

<div class="navbar-fixed" style="position: relative; z-index: 50;">
  <nav>
    <div class="nav-wrapper black-text" style="font-size: 19pt; margin-left: 1%;">
      2017 Crosstrek
      <div class="right" style="font-weight: 300;">
        <ul>
          <li><a>Overview</a></li>
          <li><a>Gallery</a></li>
          <li><a>Features</a></li>
          <li><a>Accolades</a></li>
          <li><a>Models</a></li>
          <li><a class="dropdown-button white-text" style="background-color: #0099ff; font-size: 14pt;" href="#!" data-activates="dropdown1">Shop Crosstrek<i class="material-icons right">arrow_drop_down</i></a></li>
        </ul>
      </div>
    </div>
  </nav>
</div>

<div class="vehicle-background" style="background-image: url(pictures/vehicleView/crosstrek/2017_ctk_photos_ext_13.jpg">
  <div class="vehicle-title-bg"></div>
  <div class=" vehicle-position">
    <div class="vehicle-title">
      The 2017 Subaru Crosstrek
    </div>
    <div class="vehicle-subtitle">
      Love where it takes you.
    </div>
  </div>
  <div class="specs-overlay">
    <button class="specs-button" type="button" name="button">COMPARE MODEL SPECS</button>
    <div class="row">
      <div class="col s3 center-align specs-details white-text">
        <div class="specs-title">
          MPG** up to
        </div>
        <br>
        <div style="font-size: 30pt;">
          {{vehicles[2].mpghwy}}/{{vehicles[2].mpgcity}}
        </div>
        <div class="specs-title">
          <br> Hwy/City
        </div>
      </div>
      <div class="col s3 center-align specs-details white-text">
        <div class="specs-title">
          Standard
        </div>
        <br>
        <div style="font-size: 20pt;">
          {{vehicles[2].standardeq}}
        </div>
      </div>
      <div class="col s3 center-align specs-details white-text">
        <div class="specs-title">
          Passenger volume up to
        </div>
        <br>
        <div style="font-size: 28pt;">
          {{vehicles[2].passengers}}
        </div>
        <div class="specs-title">
          <br> cubic feet
        </div>
      </div>
      <div class="col s3 center-align specs-details white-text">
        <div class="specs-title">
          MSRP*
        </div>
        <br>
        <div style="font-size: 20pt;">
          {{vehicles[2].msrp}}
        </div>
      </div>
    </div>
  </div>
</div>
<div class="spin-title">
  Exterior 360°
  <div style="font-size: 12pt;font-weight: 300;opacity: .7;">
    Click & Drag
  </div>
</div>
<div class="spin-view">
  <div class="spritespinCrosstrek"></div>
</div>
<div class="interior-view">
  <div class="interior-title">
    Interior
  </div>
  <img class="interior-view-img-fix" src="pictures/vehicleView/crosstrek/BC.jpg" alt="">
</div>
<div class="spin-title">
  Features
</div>
<div class="features">
  <div class="features-text">
    <div class="features-font">
      Capability Meets Efficiency
    </div>
    <br>
    <br>
    <div class="features-desc">
      <i class="material-icons left">chevron_right</i> Symmetrical All-Wheel Drive + 33 MPG**
      <br>
      <br>
      <i class="material-icons left">chevron_right</i> Ground-Clearing Capability
      <br>
      <br>
      <i class="material-icons left">chevron_right</i> Right-sized Crossover
      <br>
      <br>
      <i class="material-icons left">chevron_right</i> Integrated Roof Rails
      <br>
      <br>
      <i class="material-icons left">chevron_right</i> Flexible Space
    </div>
  </div>
  <div class="features-img">
    <img class="features-img-fix" src="pictures/vehicleView/crosstrek/17_CTK_feature_04.jpg" alt="">
  </div>
</div>
<div class="features">
  <div class="features-img">
    <img class="features-img-fix" src="pictures/vehicleView/crosstrek/CTK_Feature_15.jpg" alt="">
  </div>
  <div class="features-text">
    <div class="features-font">
      Safe and Smart
    </div>
    <br>
    <br>
    <div class="features-desc">
      <i class="material-icons left">chevron_right</i> EyeSight® Driver Assist Technology
      <br>
      <br>
      <i class="material-icons left">chevron_right</i> SUBARU STARLINK™ Safety and Security
      <br>
      <br>
      <i class="material-icons left">chevron_right</i> SUBARU BOXER® Engine
      <br>
      <br>
      <i class="material-icons left">chevron_right</i> Blind-Spot Detection and Rear-Cross Traffic Alert
      <br>
      <br>
      <i class="material-icons left">chevron_right</i> Rear-Vision Camera
    </div>
  </div>
</div>
<div class="features">
  <div class="features-text">
    <div class="features-font">
      Well-Equipped, Inside and Out
    </div>
    <br>
    <br>
    <div class="features-desc">
      <i class="material-icons left">chevron_right</i> Comfortable and Innovative Interior
      <br>
      <br>
      <i class="material-icons left">chevron_right</i> Sporty Exterior
      <br>
      <br>
      <i class="material-icons left">chevron_right</i> SUBARU STARLINK™ Multimedia
      <br>
      <br>
      <i class="material-icons left">chevron_right</i> Keyless Access with Push-Button Start
      <br>
      <br>
      <i class="material-icons left">chevron_right</i> Siri™ Eyes Free
      <br>
      <br>
      <i class="material-icons left">chevron_right</i> LCD Multi-Function Display
      <br>
      <br>
      <i class="material-icons left">chevron_right</i> Bluetooth®
      <br>
      <br>
      <i class="material-icons left">chevron_right</i> Side Mirrors with Integrated Turn Signals
    </div>
  </div>
  <div class="features-img">
    <img class="features-img-fix" src="pictures/vehicleView/crosstrek/17_CTK_feature_06.jpg" alt="">
  </div>
</div>
