<div id="vehicledp" class="dropdown-content">

</div>

<div class="navbar-fixed" style="position: relative; z-index: 50;">
  <nav>
    <div class="nav-wrapper black-text" style="font-size: 19pt; margin-left: 1%;">
      2017 Forester
      <div class="right" style="font-weight: 300;">
        <ul>
          <li><a>Overview</a></li>
          <li><a>Gallery</a></li>
          <li><a>Features</a></li>
          <li><a>Accolades</a></li>
          <li><a>Models</a></li>
          <li><a class="dropdown-button white-text" style="background-color: #0099ff; font-size: 14pt;" href="#!" data-activates="dropdown1">Shop Forester<i class="material-icons right">arrow_drop_down</i></a></li>
        </ul>
      </div>
    </div>
  </nav>
</div>
<div class="vehicle-background" style="background-image: url(/pictures/vehicleView/forester/2017_for_photos_ext_11.jpg">
  <div class="vehicle-title-bg"></div>
  <div class=" vehicle-position">
    <div class="vehicle-title">
      The Newly Redesigned 2017 Subaru Forester
    </div>
    <div class="vehicle-subtitle">
      A whole lot to love.
    </div>
  </div>
  <div>
    <img src="pictures/vehicleView/forester/apr.png" alt="">
  </div>
  <div class="specs-overlay">
    <button class="specs-button" type="button" name="button">COMPARE MODEL SPECS</button>
    <div class="row">
      <div class="col s3 center-align specs-details white-text">
        <div class="specs-title">
          MPG** up to
        </div>
        <br>
        <div style="font-size: 30pt;">
          {{vehicles[4].mpghwy}}/{{vehicles[4].mpgcity}}
        </div>
        <div class="specs-title">
          <br> Hwy/City
        </div>
      </div>
      <div class="col s3 center-align specs-details white-text">
        <div class="specs-title">
          Standard
        </div>
        <br>
        <div style="font-size: 20pt;">
          {{vehicles[4].standardeq}}
        </div>
      </div>
      <div class="col s3 center-align specs-details white-text">
        <div class="specs-title">
          Passenger volume up to
        </div>
        <br>
        <div style="font-size: 28pt;">
          {{vehicles[4].passengers}}
        </div>
        <div class="specs-title">
          <br> cubic feet
        </div>
      </div>
      <div class="col s3 center-align specs-details white-text">
        <div class="specs-title">
          MSRP*
        </div>
        <br>
        <div style="font-size: 20pt;">
          {{vehicles[4].msrp}}
        </div>
      </div>
    </div>
  </div>
</div>
<div class="spin-title">
  Exterior 360°
  <div style="font-size: 12pt;font-weight: 300;opacity: .7;">
    Click & Drag
  </div>
</div>
<div class="spin-view">
  <div class="spritespinForester"></div>
</div>
<div class="interior-view">
  <div class="interior-title">
    Interior
  </div>
  <img class="interior-view-img-fix" src="pictures/vehicleView/forester/GC.jpg" alt="">
</div>
<div class="spin-title">
  Features
</div>
<div class="features">
  <div class="features-text">
    <div class="features-font">
      Responsible Engineering
    </div>
    <br>
    <br>
    <div class="features-desc">
      <i class="material-icons left">chevron_right</i> Symmetrical All-Wheel Drive + 32 MPG**
      <br>
      <br>
      <i class="material-icons left">chevron_right</i> SUBARU BOXER® Engine
      <br>
      <br>
      <i class="material-icons left">chevron_right</i> Zero-landfill Manufacturing
      <br>
      <br>
      <i class="material-icons left">chevron_right</i> Partial Zero Emissions Vehicle (PZEV)
    </div>
  </div>
  <div class="features-img">
    <img class="features-img-fix" src="pictures/vehicleView/forester/2017_FOR_Feature_1920x1200.jpg" alt="">
  </div>
</div>
<div class="features">
  <div class="features-img">
    <img class="features-img-fix" src="pictures/vehicleView/forester/17_FOR_feature_05.jpg" alt="">
  </div>
  <div class="features-text">
    <div class="features-font">
      Safe and Secure
    </div>
    <br>
    <br>
    <div class="features-desc">
      <i class="material-icons left">chevron_right</i> EyeSight® Driver Assist Technology
      <br>
      <br>
      <i class="material-icons left">chevron_right</i> Blind Spot Detection and Rear Cross Traffic Alert
      <br>
      <br>
      <i class="material-icons left">chevron_right</i> Rear-Vision Camera and Reverse Automatic Braking
      <br>
      <br>
      <i class="material-icons left">chevron_right</i> High Beam Assist
      <br>
      <br>
      <i class="material-icons left">chevron_right</i> SUBARU STARLINK™ Safety and Security
      <br>
      <br>
      <i class="material-icons left">chevron_right</i> Steering Responsive Headlights
      <br>
      <br>
      <i class="material-icons left">chevron_right</i> Vehicle Dynamics Control
    </div>
  </div>
</div>
<div class="features">
  <div class="features-text">
    <div class="features-font">
      Capability Meets Comfort
    </div>
    <br>
    <br>
    <div class="features-desc">
      <i class="material-icons left">chevron_right</i> Power Rear Gate
      <br>
      <br>
      <i class="material-icons left">chevron_right</i> Heated Steering Wheel
      <br>
      <br>
      <i class="material-icons left">chevron_right</i> Memory Seating
      <br>
      <br>
      <i class="material-icons left">chevron_right</i> Power Panoramic Moonroof
      <br>
      <br>
      <i class="material-icons left">chevron_right</i> SUBARU STARLINK™ Multimedia
      <br>
      <br>
      <i class="material-icons left">chevron_right</i> Premium Audio
      <br>
      <br>
      <i class="material-icons left">chevron_right</i> Ground-Clearing Capability
    </div>
  </div>
  <div class="features-img">
    <img class="features-img-fix" src="pictures/vehicleView/forester/17_FOR_feature_10.jpg" alt="">
  </div>
</div>
<div class="features">
  <div class="features-img">
    <img class="features-img-fix" src="pictures/vehicleView/forester/17_FOR_feature_17.jpg" alt="">
  </div>
  <div class="features-text">
    <div class="features-font">
      Forester 2.0XT
    </div>
    <br>
    <br>
    <div class="features-desc">
      <i class="material-icons left">chevron_right</i> 250-hp SUBARU BOXER® Engine
      <br>
      <br>
      <i class="material-icons left">chevron_right</i> Bold Design
      <br>
      <br>
      <i class="material-icons left">chevron_right</i> Lineartronic® CVT with Manual Mode
      <br>
      <br>
      <i class="material-icons left">chevron_right</i> Sport-Tuned Suspension
    </div>
  </div>
</div>
