<div id="carousel-example" class="carousel slide" data-ride="carousel" style="height: 700px">
  <ol class="carousel-indicators">
    <li data-target="#carousel-example" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example" data-slide-to="1"></li>
    <li data-target="#carousel-example" data-slide-to="2"></li>
  </ol>

  <div class="carousel-inner">
    <div class="item active">
      <button class="button-inside" type="button" name="button" ui-sref="impreza">LEARN MORE</button>
      <img class="carousel-img-fix" src="pictures/homeView/2017-Subaru-Impreza-20i-Sport-5-Door-rear-side.jpg" />
    </div>
    <div class="item">
      <img src="pictures/homeView/2017_subaru_forester.jpg" />
    </div>
  </div>

  <a class="left carousel-control" href="#carousel-example" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>
<h4 class="shopping-tools-title">Shopping Tools</h4>
<div class="row shopping-tools">
  <div class="col s3 shopping-tools-options center-align">
    <a href="#" class="black-text">
      <img src="pictures/homeView/shoppingToolsPics/byo.png" alt="">
      <br>
      <br> BUILD YOUR OWN
    </a>
  </div>
  <div class="col s3 shopping-tools-options center-align">
    <a href="#" class="black-text">
      <img src="pictures/homeView/shoppingToolsPics/special-offers.png" alt="">
      <br>
      <br> SPECIAL OFFERS
    </a>
  </div>
  <div class="col s3 shopping-tools-options center-align">
    <a href="#" class="black-text">
      <img src="pictures/homeView/shoppingToolsPics/local-inventory.png" alt="">
      <br>
      <br> LOCAL INVENTORY
    </a>
  </div>
  <div class="col s3 shopping-tools-options center-align">
    <a href="#" class="black-text">
      <img src="pictures/homeView/shoppingToolsPics/request-quote.png" alt="">
      <br>
      <br> REQUEST PRICE
    </a>
  </div>
</div>

<div class="overlay-box z-depth-5">
  <div class="overlay-img">
    <a ui-sref="impreza">
      <div class="overlay-desc center-align">
        IMPREZA
        <img class="overlay-img" src="pictures/homeView/overlayPics/impreza.jpg" alt="">
        <div class="overlay-price">
          Starting at $18,395*
        </div>
      </div>
    </a>
    <a ui-sref="legacy">
      <div class="overlay-desc center-align">
        LEGACY
        <img class="overlay-img" src="pictures/homeView/overlayPics/legacy.jpg" alt="">
        <div class="overlay-price">
          Starting at $21,995*
        </div>
      </div>
    </a>
    <a href="#">
      <div class="overlay-desc center-align">
        CROSSTREK
        <img class="overlay-img" src="pictures/homeView/overlayPics/crosstrek.jpg" alt="">
        <div class="overlay-price">
          Starting at $21,695*
        </div>
      </div>
    </a>
    <a ui-sref="forester">
      <div class="overlay-desc center-align">
        FORESTER
        <img class="overlay-img" src="pictures/homeView/overlayPics/forester.jpg" alt="">
        <div class="overlay-price">
          Starting at $22,595*
        </div>
      </div>
    </a>
    <a href="#">
      <div class="overlay-desc center-align">
        OUTBACK
        <img class="overlay-img" src="pictures/homeView/overlayPics/outback.jpg" alt="">
        <div class="overlay-price">
          Starting at $25,645*
        </div>
      </div>
    </a>
    <a ui-sref="brz">
      <div class="overlay-desc center-align">
        BRZ
        <img class="overlay-img" src="pictures/homeView/overlayPics/brz.jpg" alt="">
        <div class="overlay-price">
          Starting at $25,495*
        </div>
      </div>
    </a>
    <a ui-sref="wrx">
      <div class="overlay-desc center-align">
        WRX
        <img class="overlay-img" src="pictures/homeView/overlayPics/wrx.jpg" alt="">
        <div class="overlay-price">
          Starting at $26,695*
        </div>
      </div>
    </a>
  </div>
</div>

<div class="subaru-loves-earth">
  <img src="pictures/homeView/Subaru-Love-Earth.jpg" class="sle-img" alt="">
</div>
