<div id="vehicledp" class="dropdown-content">

</div>

<div class="navbar-fixed" style="position: relative; z-index: 50;">
  <nav>
    <div class="nav-wrapper black-text" style="font-size: 19pt; margin-left: 1%;">
      2017 Impreza
      <div class="right" style="font-weight: 300;">
        <ul>
          <li><a>Overview</a></li>
          <li><a>Gallery</a></li>
          <li><a>Features</a></li>
          <li><a>Accolades</a></li>
          <li><a>Models</a></li>
          <li><a class="dropdown-button white-text" style="background-color: #0099ff; font-size: 14pt;" href="#!" data-activates="dropdown1">Shop Impreza<i class="material-icons right">arrow_drop_down</i></a></li>
        </ul>
      </div>
    </div>
  </nav>
</div>

<div class="vehicle-background" style="background-image: url(/pictures/vehicleView/impreza/2017_impreza_ext_01.jpg);">
  <div class="vehicle-title-bg"></div>
  <div class=" vehicle-position">
    <div class="vehicle-title">
      The All-New 2017 Subaru Impreza
    </div>
    <div class="vehicle-subtitle">
      More than a car, it's a Subaru.
    </div>
  </div>
  <div>
    <img src="/pictures/vehicleView/impreza/More2love.png" alt="">
  </div>
  <div class="specs-overlay">
    <button class="specs-button" type="button" name="button">COMPARE MODEL SPECS</button>
    <div class="row">
      <div class="col s3 center-align specs-details white-text">
        <div class="specs-title">
          MPG** up to
        </div>
        <br>
        <div style="font-size: 30pt;">
          {{vehicles[0].mpghwy}}/{{vehicles[0].mpgcity}}
        </div>
        <div class="specs-title">
          <br> Hwy/City
        </div>
      </div>
      <div class="col s3 center-align specs-details white-text">
        <div class="specs-title">
          Standard
        </div>
        <br>
        <div style="font-size: 20pt;">
          {{vehicles[0].standardeq}}
        </div>
      </div>
      <div class="col s3 center-align specs-details white-text">
        <div class="specs-title">
          Passenger volume up to
        </div>
        <br>
        <div style="font-size: 28pt;">
          {{vehicles[0].passengers}}
        </div>
        <div class="specs-title">
          <br> cubic feet
        </div>
      </div>
      <div class="col s3 center-align specs-details white-text">
        <div class="specs-title">
          MSRP*
        </div>
        <br>
        <div style="font-size: 20pt;">
          {{vehicles[0].msrp}}
        </div>
      </div>
    </div>
  </div>
</div>
<div class="spin-title">
  Exterior 360°
  <div style="font-size: 12pt;font-weight: 300;opacity: .7;">
    Click & Drag
  </div>
</div>
<div class="spin-view">
  <div class="spritespinImpreza"></div>
</div>
<div class="interior-view">
  <div class="interior-title">
    Interior
  </div>
  <img class="interior-view-img-fix" src="pictures/vehicleView/impreza/interior.jpg" alt="">
</div>
<div class="spin-title">
  Features
</div>
<div class="features">
  <div class="features-text">
    <div class="features-font">
      With You All the Way
    </div>
    <br>
    <br>
    <div class="features-desc">
      <i class="material-icons left">chevron_right</i> Built to Last
      <br>
      <br>
      <i class="material-icons left">chevron_right</i> All-New Global Platform
      <br>
      <br>
      <i class="material-icons left">chevron_right</i> Well-Built in the USA
    </div>
  </div>
  <div class="features-img">
    <img class="features-img-fix" src="pictures/vehicleView/impreza/17_IMP_feature_01.jpg" alt="">
  </div>
</div>
<div class="features">
  <div class="features-img">
    <img class="features-img-fix" src="pictures/vehicleView/impreza/17_IMP_feature_02.jpg" alt="">
  </div>
  <div class="features-text">
    <div class="features-font">
      Safe and Secure
    </div>
    <br>
    <br>
    <div class="features-desc">
      <i class="material-icons left">chevron_right</i> EyeSight® Driver Assist Technology
      <br>
      <br>
      <i class="material-icons left">chevron_right</i> Ring-shaped Reinforcement Frame
      <br>
      <br>
      <i class="material-icons left">chevron_right</i> LED Steering Responsive Headlights and High Beam Assist
      <br>
      <br>
      <i class="material-icons left">chevron_right</i> Blind-Spot Detection and Rear Cross-Traffic Alert
      <br>
      <br>
      <i class="material-icons left">chevron_right</i> Rear-Vision Camera and Reverse Automatic Braking
    </div>
  </div>
</div>
<div class="features">
  <div class="features-text">
    <div class="features-font">
      Capable & Efficient Engineering
    </div>
    <br>
    <br>
    <div class="features-desc">
      <i class="material-icons left">chevron_right</i> Symmetrical All-Wheel Drive + up to 38 MPG**
      <br>
      <br>
      <i class="material-icons left">chevron_right</i> SUBARU BOXER® Direct Injection 4-cylinder Engine
      <br>
      <br>
      <i class="material-icons left">chevron_right</i> 2.0i Sport Trim Level
    </div>
  </div>
  <div class="features-img">
    <img class="features-img-fix" src="pictures/vehicleView/impreza/17_IMP_feature_06.jpg" alt="">
  </div>
</div>
<div class="features">
  <div class="features-img">
    <img class="features-img-fix" src="pictures/vehicleView/impreza/17_IMP_feature_08.jpg" alt="">
  </div>
  <div class="features-text">
    <div class="features-font">
      Packed With Technology
    </div>
    <br>
    <br>
    <div class="features-desc">
      <i class="material-icons left">chevron_right</i> SUBARU STARLINK™ Multimedia
      <br>
      <br>
      <i class="material-icons left">chevron_right</i> Harman Kardon® Premium Audio
      <br>
      <br>
      <i class="material-icons left">chevron_right</i> SUBARU STARLINK™ Safety and Security
      <br>
      <br>
      <i class="material-icons left">chevron_right</i> Keyless Access with Push-Button Start
      <br>
      <br>
      <i class="material-icons left">chevron_right</i> LCD Multi-Function Display
    </div>
  </div>
</div>
<div class="features">
  <div class="features-text">
    <div class="features-font">
      Versatility for Life
    </div>
    <br>
    <br>
    <div class="features-desc">
      <i class="material-icons left">chevron_right</i> Sedan and 5-Door Body Styles Available
      <br>
      <br>
      <i class="material-icons left">chevron_right</i> Right-Sized, High-Quality, Comfortable Interior
      <br>
      <br>
      <i class="material-icons left">chevron_right</i> Power Driver’s Seat
      <br>
      <br>
      <i class="material-icons left">chevron_right</i> Roof Racking
    </div>
  </div>
  <div class="features-img">
    <img class="features-img-fix" src="pictures/vehicleView/impreza/17_IMP_feature_13.jpg" alt="">
  </div>
</div>
