<div id="vehicledp" class="dropdown-content">

</div>

<div class="navbar-fixed" style="position: relative; z-index: 50;">
  <nav>
    <div class="nav-wrapper black-text" style="font-size: 19pt; margin-left: 1%;">
      2017 Outback
      <a class="new-outback" ui-sref="newOutback">See The Newly Redesigned 2018 Subaru Outback</a>
      <div class="right" style="font-weight: 300;">
        <ul>
          <li><a>Overview</a></li>
          <li><a>Gallery</a></li>
          <li><a>Features</a></li>
          <li><a>Accolades</a></li>
          <li><a>Models</a></li>
          <li><a class="dropdown-button white-text" style="background-color: #0099ff; font-size: 14pt;" href="#!" data-activates="dropdown1">Shop Outback<i class="material-icons right">arrow_drop_down</i></a></li>
        </ul>
      </div>
    </div>
  </nav>
</div>

<div class="vehicle-background" style="background-image: url(/pictures/vehicleView/outback/2017_obk_photos_ext_33.jpg">
  <div class="vehicle-title-bg"></div>
  <div class=" vehicle-position">
    <div class="vehicle-title">
      The 2017 Subaru Outback
    </div>
    <div class="vehicle-subtitle">
      Built to take you to the place you've never been.
    </div>
  </div>
  <div class="specs-overlay">
    <button class="specs-button" type="button" name="button">COMPARE MODEL SPECS</button>
    <div class="row">
      <div class="col s3 center-align specs-details white-text">
        <div class="specs-title">
          MPG** up to
        </div>
        <br>
        <div style="font-size: 30pt;">
          {{vehicles[5].mpghwy}}/{{vehicles[5].mpgcity}}
        </div>
        <div class="specs-title">
          <br> Hwy/City
        </div>
      </div>
      <div class="col s3 center-align specs-details white-text">
        <div class="specs-title">
          Standard
        </div>
        <br>
        <div style="font-size: 20pt;">
          {{vehicles[5].standardeq}}
        </div>
      </div>
      <div class="col s3 center-align specs-details white-text">
        <div class="specs-title">
          Passenger volume up to
        </div>
        <br>
        <div style="font-size: 28pt;">
          {{vehicles[5].passengers}}
        </div>
        <div class="specs-title">
          <br> cubic feet
        </div>
      </div>
      <div class="col s3 center-align specs-details white-text">
        <div class="specs-title">
          MSRP*
        </div>
        <br>
        <div style="font-size: 20pt;">
          {{vehicles[5].msrp}}
        </div>
      </div>
    </div>
  </div>
</div>
<div class="spin-title">
  Exterior 360°
  <div style="font-size: 12pt;font-weight: 300;opacity: .7;">
    Click & Drag
  </div>
</div>
<div class="spin-view">
  <div class="spritespinOutback"></div>
</div>
<div class="interior-view">
  <div class="interior-title">
    Interior
  </div>
  <img class="interior-view-img-fix" src="pictures/vehicleView/outback/SBC.jpg" alt="">
</div>
<div class="spin-title">
  Features
</div>
<div class="features">
  <div class="features-text">
    <div class="features-font">
      Go-Everywhere Capability
    </div>
    <br>
    <br>
    <div class="features-desc">
      <i class="material-icons left">chevron_right</i> Subaru Symmetrical All-Wheel Drive
      <br>
      <br>
      <i class="material-icons left">chevron_right</i> Ground-Clearing Capability
      <br>
      <br>
      <i class="material-icons left">chevron_right</i> Flexible Cargo-Carrying Versatility
      <br>
      <br>
      <i class="material-icons left">chevron_right</i> SUBARU BOXER® ENGINE
    </div>
  </div>
  <div class="features-img">
    <img class="features-img-fix" src="pictures/vehicleView/outback/VSP_OBK_Capability_Features.jpg" alt="">
  </div>
</div>
<div class="features">
  <div class="features-img">
    <img class="features-img-fix" src="pictures/vehicleView/outback/VSP_OBK_Safety_Features.jpg" alt="">
  </div>
  <div class="features-text">
    <div class="features-font">
      Safe and Secure
    </div>
    <br>
    <br>
    <div class="features-desc">
      <i class="material-icons left">chevron_right</i> EyeSight® Driver Assist Technology
      <br>
      <br>
      <i class="material-icons left">chevron_right</i> SUBARU STARLINK™ Safety and Security
      <br>
      <br>
      <i class="material-icons left">chevron_right</i> Vehicle Dynamics Control
      <br>
      <br>
      <i class="material-icons left">chevron_right</i> Blind-Spot Detection and Rear-Cross Traffic Alert
      <br>
      <br>
      <i class="material-icons left">chevron_right</i> Rear-Vision Camera and Reverse Automatic Braking
    </div>
  </div>
</div>
<div class="features">
  <div class="features-text">
    <div class="features-font">
      Comfort and Convenience
    </div>
    <br>
    <br>
    <div class="features-desc">
      <i class="material-icons left">chevron_right</i> Spacious Comfort
      <br>
      <br>
      <i class="material-icons left">chevron_right</i> Power Seats with Memory
      <br>
      <br>
      <i class="material-icons left">chevron_right</i> Power Rear Gate
      <br>
      <br>
      <i class="material-icons left">chevron_right</i> Leather-Trimmed Upholstery
      <br>
      <br>
      <i class="material-icons left">chevron_right</i> SUBARU STARLINK™ Multimedia
      <br>
      <br>
      <i class="material-icons left">chevron_right</i> Premium Audio
      <br>
      <br>
      <i class="material-icons left">chevron_right</i> Siri™ Eyes Free
    </div>
  </div>
  <div class="features-img">
    <img class="features-img-fix" src="pictures/vehicleView/outback/VSP_OBK_Comfort_Features.jpg" alt="">
  </div>
</div>
