<div class="video-box">
  <div class="outback-title">
    <div>
      THE NEWLY REDESIGNED
    </div>
    <div style="font-size: 34pt; font-weight: bold;">
      2018 SUBARU OUTBACK
    </div>
  </div>
  <video class="video-fix" src="OutbackWebLoop.mp4" autoplay loop>
  </video>
  <div class="button-div">
    <button class="button-video1" type="button" name="button">SIGN UP FOR UPDATES</button>
    <button class="button-video2" type="button" name="button">SEE PRESS RELEASE</button>
  </div>
</div>
<div class="outback-info">

</div>
