<div id="vehicledp" class="dropdown-content">

</div>

  <div class="navbar-fixed">
	   <nav>
    	  <div class="nav-wrapper black-text" style="font-size: 19pt; margin-left: 1%;">
          2017 Legacy
    			<div class="right" style="font-weight: 300;">
    		    <ul>
    		      <li><a>Overview</a></li>
    		      <li><a>Gallery</a></li>
    					<li><a>Features</a></li>
              <li><a>Accolades</a></li>
              <li><a>Models</a></li>
              <li><a class="dropdown-button white-text" style="background-color: #0099ff; font-size: 14pt;" href="#!" data-activates="dropdown1" >Shop Legacy<i class="material-icons right">arrow_drop_down</i></a></li>
    				</ul>
    	     </div>
         </div>
       </nav>
    </div>

<div class="vehicle-background" style="background-image: url(pictures/vehicleView/legacy/2017_leg_photos_ext_02.jpg);">
  <div class="vehicle-title-bg"></div>
  <div class=" vehicle-position">
    <div class="vehicle-title">
      The 2017 Subaru Legacy
    </div>
    <div class="vehicle-subtitle">
      It’s not just a sedan. It’s a Subaru.
    </div>
  </div>
  <div>
    <img src="pictures/vehicleView/legacy/zeroApr.png" alt="">
  </div>
  <div class="specs-overlay">
    <button class="specs-button" type="button" name="button">COMPARE MODEL SPECS</button>
    <div class="row">
      <div class="col s3 center-align specs-details white-text">
        <div class="specs-title">
          MPG** up to
        </div>
        <br>
        {{test}}
        <div class="specs-title">
          <br>
          Hwy/City
        </div>
      </div>
      <div class="col s3 center-align specs-details white-text">
        <div class="specs-title">
          Standard
        </div>
        <br>
        Symmetrical All-Wheel Drive
      </div>
      <div class="col s3 center-align specs-details white-text">
        <div class="specs-title">
          Passenger volume up to
        </div>
        <br>
        {{test}}
        <div class="specs-title">
          <br>
          cubic feet
        </div>
      </div>
      <div class="col s3 center-align specs-details white-text">
        <div class="specs-title">
          MPG** up to
        </div>
        <br>
        {{test}}
        <div class="specs-title">
          <br>
          Hwy/City
        </div>
      </div>
    </div>
  </div>
</div>

<div class="spin-title">
  Exterior 360°
  <div style="font-size: 12pt;font-weight: 300;opacity: .7;">
    Click & Drag
  </div>
</div>
<div class="spin-view">
  <div class="spritespinLegacy"></div>
</div>
<div class="interior-view">
  <div class="interior-title">
    Interior
  </div>
  <img class="interior-view-img-fix" src="pictures/vehicleView/legacy/interior.jpg" alt="">
</div>
<div class="spin-title">
  Features
</div>
<div class="features">
  <div class="features-text">
    <div class="features-font">
      Safe and Dependable
    </div>
    <br>
    <br>
    <div class="features-desc">
      <i class="material-icons left">chevron_right</i>
      EyeSight® Driver Assist Technology
      <br>
      <br>
      <i class="material-icons left">chevron_right</i>
      SUBARU STARLINK™ Safety and Security
      <br>
      <br>
      <i class="material-icons left">chevron_right</i>
      Blind Spot Detection and Rear Cross-Traffic Alert
      <br>
      <br>
      <i class="material-icons left">chevron_right</i>
      Rear-Vision Camera and Reverse Automatic Braking
    </div>
  </div>
  <div class="features-img">
    <img class="features-img-fix" src="pictures/vehicleView/legacy/17_LEG_Feature_01.jpg" alt="">
  </div>
</div>
<div class="features">
  <div class="features-img">
    <img class="features-img-fix" src="pictures/vehicleView/legacy/17_LEG_Feature_05.jpg" alt="">
  </div>
  <div class="features-text">
    <div class="features-font">
      Engineering You Can Feel
    </div>
    <br>
    <br>
    <div class="features-desc">
      <i class="material-icons left">chevron_right</i>
      Symmetrical All-Wheel Drive + 34 MPG**
      <br>
      <br>
      <i class="material-icons left">chevron_right</i>
      Vehicle Dynamics Control with Active Torque Vectoring
      <br>
      <br>
      <i class="material-icons left">chevron_right</i>
      6-Cylinder SUBARU BOXER® Engine
    </div>
  </div>
</div>
<div class="features">
  <div class="features-text">
    <div class="features-font">
      Comfort and Convenience
    </div>
    <br>
    <br>
    <div class="features-desc">
      <i class="material-icons left">chevron_right</i>
      Spacious and Comfortable
      <br>
      <br>
      <i class="material-icons left">chevron_right</i>
      Keyless Access with Push-Button Start
      <br>
      <br>
      <i class="material-icons left">chevron_right</i>
      Memory Seating
      <br>
      <br>
      <i class="material-icons left">chevron_right</i>
      Interior Volume
      <br>
      <br>
      <i class="material-icons left">chevron_right</i>
      Rear Seat Comfort
      <br>
      <br>
      <i class="material-icons left">chevron_right</i>
      SUBARU STARLINK™ Multimedia
      <br>
      <br>
      <i class="material-icons left">chevron_right</i>
      Premium Audio
      <br>
      <br>
      <i class="material-icons left">chevron_right</i>
      Siri™ Eyes Free
    </div>
  </div>
  <div class="features-img">
    <img class="features-img-fix" src="pictures/vehicleView/legacy/17_LEG_Feature_08.jpg" alt="">
  </div>
</div>
